@model Pharos.Sys.Entity.SysWebSetting
@{
    var title =(string)ViewBag.comptitle;
}
<div class="header">
    <table width="100%" border="0" cellpadding="0" cellspacing="0">
        <tr>
            <td height="70">
                @if(Model.LogoDispWay!=3)
                { 
                <img src="@((Model != null && !Model.TopLogo.IsNullOrEmpty()) ? Url.Content("~/SysImg/") + SysCommonRules.CompanyId + "/" + Model.TopLogo : Url.Content("~/SysImg/logo.png"))" height="39px" border="0" class="top-img" />
                }
                @if (Model.LogoDispWay==1)
                { 
                <span class="top-line"></span>
                <span class="top-text">@title</span>
                }
                else if (Model.LogoDispWay == 3)
                {
                <span class="top-text">@title</span>
                }
            </td>
            <td align="right"><a href="javascript:;" onclick="viewUserInfo();">@ViewBag.CurUserName（@ViewBag.CurLoginName）</a> <i>|</i> <a href="@Url.Action("Logout", "Home")" style="">[退出]</a></td>
        </tr>
    </table>
</div>

<script type="text/javascript">
    function viewUserInfo() {
        openWin({ 'title': '用户基本信息', 'width': 500, 'height': 350, 'url': '@Url.Action("UserInfo", "Account")?isdetail=1' });
    }
</script>