@{
    ViewBag.Title = Pharos.Sys.SysConstPool.Page_Title;
    Layout = "~/Views/Shared/_ManagerLayout.cshtml";
    ViewData.OpBtnInfo(new OpBtnInfo(hideAdd: true, hideEdit: true, hideDel: true));
}

@section search{
    <table class="table-toolbar">
        <tr>
            <td class="label-toolbar">
                <label>月份：</label>
            </td>
            <td class="input-toolbar">
                <input name="date" value="@DateTime.Now.ToString("yyyy-MM")" class="datacontrol Wdate" onclick="WdatePicker({dateFmt: 'yyyy-MM', isShowToday: false})" />
            </td>
            <td class="label-toolbar">
                <label>门店：</label>
            </td>
            <td class="input-toolbar">
                @Form.Combobox("store", ViewBag.stores as List<SelectListItem>, dataOptions: (CurrentUser.IsStore ? "readonly:true," : "") + "editable:false,panelMaxHeight:200")
            </td>
            <td class="label-toolbar">
                <label>供应商名称：</label>
            </td>
            <td class="input-toolbar">
                @Form.Combobox("supplierId", ViewBag.suppliers as List<SelectListItem>, dataOptions: "panelHeight:'auto',editable:false,panelMaxHeight:200")
            </td>
            <td class="label-toolbar">
                <label>排序：</label>
            </td>
            <td class="input-toolbar">
                <select class="datacontrol easyui-combobox" name="sortField" data-options="editable: false, panelHeight: 'auto', panelMaxHeight: 200, width: 80">
                    <option value="" selected>默认</option>
                    <option value="PurchaseNumber">销售数量</option>
                    <option value="SaleTotal">销售金额</option>
                    <option value="SaleTotal-BuyPrice">按毛利额</option>
                </select>
            </td>
        </tr>
    </table>
}
@section toolbar
{
    <a href="#" class="easyui-linkbutton cus1 linkbtn" data-options="iconCls:'icon-export'" onclick="Export()">导出Excel</a>
}
<script type="text/javascript">
    pharos.manager.geturl = '@Url.Action("QuerySupplierSaleDetailPageList")';
    pharos.manager.pagination = false;
    pharos.manager.showFooter = true;
    pharos.manager.columns = [[
        { field: 'Barcode', title: '商品条码',width:150 },
        { field: 'SupplierTitle', title: '供应商', width: 150 },
        { field: 'CategoryTitle', title: '品类', width: 150 },
        { field: 'Title', title: '商品名称', width: 150 },
        { field: 'SubUnit', title: '单位', width: 50 },
        { field: 'SysPrice', title: '系统均价', width: 100 },
        { field: 'ActualPrice', title: '实际均价', width: 100 },
        { field: 'PurchaseNumber', title: '销售数量', width: 100 },
        { field: 'SaleTotal', title: '销售金额', width: 100 },
        { field: 'BuyTotal', title: '进价金额', width: 100 },
        { field: 'MLL', title: '毛利率', width: 80 },
        { field: 'MLE', title: '毛利额', width: 80 }
    ]];
    function Export() {
        var date = $("[name='date']").val();
        if (!date) {
            $.messager.alert("提示", "请先选择日期!"); return;
        }
        window.location.href = '@Url.Action("SaleExport")?type=3&' + $('#frmsearch').serialize();
    }
</script>